*{
    margin: 0; /*no * universal retira as bordas automaticas do navegador*/
    padding: 0; /*no * universal retira uma distância interna entre um elemento e sua borda.*/
    box-sizing: border-box;
    }
    :root{
       --text-color:white; 
       --bg-url: url(./assets/bg-mobile.jpg);
       --stroke-color: rgba(255, 255, 255, 0.05);
       --surface-color: rgba(255, 255, 255, 0.05);
       --surface-color-hover: rgba(255, 255, 255, 0.05);  
       --highlight-color: black;
       --footer-color:rgba(0, 0, 0, 0.5);
       --switchbgurl:url(./assets/moonstars.svg);
    }
    .light {
        --text-color: black;
        --bg-url: url(./assets/sucess.jpg);
        --stroke-color: rgba(0, 0, 0, 0.5);
        --surface-color: grey;
        --surface-color-hover: rgba(0, 0, 0, 0.5);
        --highlight-color: rgba(0, 0, 0, 0.5);
        --footer-color:rgba(0, 0, 0, 0.5);
        --switchbgurl:url(./assets/sun.svg);

    }
    
    body{
       /*
       background-image: url(./assets/bg-mobile.jpg);
       background-repeat: no-repeat;
       background-position: center;
       background-position-y: top;
       background-size: cover;
       ABREVIAÇÃO DO CODIGO
    */
    /*background: color image repeat position*/
    background: var(--bg-url) no-repeat top center/cover; 
    height: 100vh; /*usado pra adaptar a altura maxima do background pro mais fino possivel*/
    }
    body * {
    
        font-family: 'Inter', sans-serif;
        color: var(--text-color);
    }
    #container{
        width: 100%;
        max-width: 588px;
       /* margin: auto;
        margin-top: 56px;
        margin-right: auto;
        margin-bottom: auto;
        margin-left: auto;*/
        margin: 56px auto 0px auto;
        padding: 0 24px;
    
        /* quando a margem da pagina nao esta definida ele preenche auto, 
        isso em display block*/
    }
    
    #profile{
        text-align: center;
        padding: 24px;
        }
        #profile img{
         width: 112px;
    }
    #profile a{
       text-align: center;
       display: block;
        font-weight: 400;
        line-height: 24px;
        margin-top: 8px;
    
    }
/*switch*/
#switch{
    position: relative; /* libera as configurações de position e z-index*/
    width: 64px;
    margin: 4px auto;

}
#switch button{
width: 32px;
height: 32px;
background: white var(--switchbgurl) no-repeat center;
border-radius:50%;
border: 0;

position: absolute;
z-index:1;
transform: translateY(-50%);
top: 50%;
left: 0;

animation: slide-out 0.4s forwards;
right: initial;

}

.light #switch button{
   animation: slide-in 0.4s forwards;
   left: initial; 
}

#switch button:hover{
outline: 8px solid var(--highlight-color);
}


#switch span{
    display: block;
    width: 64px;
    height: 24px;
    /*surface-collor-dark-mode*/
    background: var(--surface-color);
    border: 1px var(--stroke-color);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 9999px;
}


    /* links*/ 
    ul{
        list-style: none; /*retira os pontos pre texto */
    display: flex;  /*deixa a posição flexivel á pagina*/
    flex-direction: column; /* posiciona em coluna*/
    gap: 15px; /*distancia entre eles, caso flex-direction esteja em row
    sera a distrancia horizontal entre eles*/
    padding: 24px 0;
    
    }
    ul li a{
        display: flex;/*deixa flexivel ao local em que esta*/
        justify-content:center; /*poisciona o texto no meio*/
        align-items: center;
        padding: 16px 24px; /*tambem traz os itens pro centro da area usando
        os pixels*/
        background: var(--surface-color);
        border: 2px solid var(--stroke-color);
        border-radius: 8px; /*arredonda as bordas da caixa de interação*/
        backdrop-filter: blur(4px);
        text-decoration: none;
       /* 
        text-decoration:line-throug ; linha cortando
        text-decoration:underline ; linha abaixo
        text-decoration:overline ; linha acima
        */
        font-weight: 500; /*ou ao inves de 500 bold (peso da fonte)*/
        transition: all  0.2s;
    
    
    }
    /*PSEUDO SELECTOR*/
    ul li a:hover{
        background: var(--surface-color-hover);
        border: 2px solid var(--text-color);
    
    
    }
    /*social links*/
    #social-links{
    display: flex;  
    padding:24px 0;
    justify-content: center;
    font-size: 24px;
    }
    #social-links a{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
    transition: all 0.5s;
    border-radius: 50%;
    }
    #social-links a:hover{
        background: var(--highlight-color);
        padding: 16px;
    }
    footer{
    display:flex;
    justify-content: center;
    padding: 16px;
    flex-direction: row;
    gap: 8px
    }
    footer a:hover{
        background: var(--footer-color);
        padding: 2px;
        border-radius: 10%;
    transition: all 0.2s;
    border: 2px solid rgba(255, 255, 255, 0.05);
    }

/* media queries*/ /*ajustes de paginas para adaptação de mob para desktop*/
@media (min-width: 700px){
  :root{
    --bg-url: url(./assets/bg-desktop.jpg);
  }  
  .light{
    --bg-url: url(./assets/bg-desktop-light.jpg);
  }
}
/*animations*/
@keyframes slide-in{
   from {
    left: 0;
   }
   to{
    left: 50%;
   } 
}
@keyframes slide-out{
    from{
     left:50%;
    }
    to{
     left:0;
    }
}